/*

*/

html, body {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

body {
	background-color: white;
}

.x-body {
	width: 980px;
	margin: 0 auto;
}

.x-left {
	float: left;
	width: 200px;
}

.x-right {
	float: right;
	width: 750px; /* 780 */
}

.x-menu {
	margin-top: 100px;
	position: fixed;
}

	.x-menu h1 {
		margin: 8px 0px 8px 0px;
		font-weight: bold;
		text-align: center;
		width: 160px;
		text-transform: uppercase;
	}
	
nav ul li {
	margin: 0px 0px 10px 0px;
}

	nav ul li a {
		color: gray;
		text-decoration: none;
	}
	
	nav ul li a:hover {
		color: black;
		text-decoration: underline;
	}

.x-content {
	margin-top: 100px;
	padding-bottom: 30px;
}

article {
	margin-bottom: 50px;
}

	article h2 {
		/*font-family: "Georgia", "Times New Roman", serif;*/
		font-weight: bold;
		font-size: 25px;
		text-transform: capitalize;
		margin-bottom: 8px;
	}
	
		article h2 a {
			color: black;
			text-decoration: none;
		}
		
		article h2 a:hover {
			text-decoration: underline;
		}
	
	article p {
		text-align: justify;
		line-height: 23px;
	}
	
	article footer {
		padding-top: 8px;
		font-style: italic;
		font-size: 13px;
		color: gray;
	}
	
		article footer a {
			color: gray;
			text-decoration: none;
		}
		
		article footer a:hover {
			color: black;
			text-decoration: underline;
		}

.x-footer {
	text-align: center;
	margin: 50px;
	font-size: 13px;
	color: gray;
}

label, input, textarea, select, fieldset {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 3px;
}

input, textarea, select, fieldset {
	border: 1px solid #c4c4c4;
}

input:hover, textarea:hover, select:hover, fieldset:hover,
input:focus, textarea:focus, select:focus, fieldset:focus {
	border: 1px solid black;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	background-color: #c4c4c4;
	text-transform: lowercase;
	color: white;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #c4c4c4;
	color: black;
}


